.filters{
    display: flex;
    margin-bottom: 10px;
    .MuiFormControl-root.MuiTextField-root{
        margin-right: 20px;
        width: 30%;
        background: none;
    }
    .MuiFilledInput-input{
        padding: 19px 0px 10px !important;
    }
    .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl{
        background: none;
    }
    .MuiFormControl-root.menu-select{
        width: 30%;
    }
}
.list-group-item{
    display: flex !important;
    justify-content: space-between;
    h5 {
        font-weight: bold;
    }
    button{
        height: 30px;
        width: 30px;
    }
    .add-button{
        border-radius: 50%;
    }
    .delete-button {
        margin-left: 10px;
    }
    p{
        margin: 0;
    }
}

.item-enter-active{
    animation: item 800ms ease-in alternate-reverse;
}

.item-exit-active{
    animation: item 800ms ease-out forwards;
}

@keyframes item {
    0%{
        transform: translateX(0);
    }
    30%{
        opacity: 0.7;
        transform: translateX(30px);
    }
    100%{
        opacity: 0;
        transform: translateX(-200px);
    }
}
