.centred{
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}
.search-input {
    width: 50% !important;
}
.type-select.MuiInputBase-root.MuiInput-root.MuiInput-underline{
    width: 50% !important;
    margin: 10px;
}
