.carousel-item{
    img{
        width: 80%;
        margin: auto;
        height: 400px;
    }
    .focused {
        border: 3px solid yellow;
    }
}
.description{
    color: blueviolet !important;
    // text-shadow: 2px 2px 2px blueviolet;
}
.centred{
    text-align: center;
}
.choice{
    margin: 10px;
    height: 60px;
    line-height: 60px;
    transition: all 1s ease;
}
.random-button{
    margin: 20px;
}
a.carousel-control{
    color: black !important;
    font-size: 24px;
    transition: color 0.25s ease;
    &:hover{
        color: #ffc107 !important;
    }
}
